div, ul, ol, li, body {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.logo {
	width: 1130px;
	height: 98px;
	margin: auto;
	margin-bottom: 20px;
}

.logo img {
	width: 200px;
	height: 98px;
}

.login_bj {
	width: 1349;
	background-color: #000;
}

.login_bj img {
	width: 1130px;
	height: 500px;
	position: relative;
}

.login {
	width: 410px;
	height: 360px;
	background-color: #fff;
	position: absolute;
	top: 263px;
	left: 850px;
	background-color: #fff;
}

.login span {
	display: inline-block;
	color: rgb(245, 102, 0);
	font-weight: bolder;
	font-size: 30px;
	padding: 20px 0;
	margin-left: 145px;
}

.login input {
	width: 306px;
}

.login input {
	height: 22px;
	line-height: 22px;
	padding: 8px 16px 8px 14px;
	display: block;
	margin: auto;
}

.select {
	position: relative;
	left: 35px;
	margin-bottom: 20px;
}

#btn {
	height: 48px;
	line-height: 22px;
	width: 340px;
	border: 0px;
	background-color: rgb(245, 102, 0);
	cursor: pointer;
	color: #fff;
	font-size: 18px;
}

a {
	text-decoration: none;
	color: #aaa;
}

.zc {
	text-align: right;
	margin-right: 35px;
	margin-top: 10px;
}

.language ul li {
	float: left;
}

.foot {
	width: 100%;
}

.language {
	width: 230px;
	margin: auto;
	padding: 20px 0px;
}

.f {
	width: 660px;
	margin: auto;
	padding-bottom: 20px;
}

body {
	width: 100%;
}

.main {
	width: 1349px;
	margin: auto;
}